<h1>write your thoughts!</h1>
<br>
<form method="POST" action='/journal/<%=@journal.id%>'>
<input type="hidden" name="_method" value="patch">
<label for="title">Title: </label> 
<input type ="text" value="<%=@journal.title%>" name ="title" id="title"><br>
<br>
<label for="title">Content: </label> 
<input type ="text" value="<%=@journal.content%>" name ="content" id="content"><br>
<br>
<button class="btn waves-effect waves-light" type="submit" name="action">edit
    <i class="material-icons right">send</i>
  </button>
 
</form> 