<h1>All your journals</h1>
<a href="/journal/new">Create a new journal.</a>
<br>
<a href="/journal/all">Check out other peoples journals.</a>
<p></p>
<br>

<% @journal.each do |journal|%>
  <div class="card-panel hoverable"> 

Title:<a href="/journal/<%=journal.id%>"><%= journal.title%> </a> 
<br>
<br>

<!--<a href="/journal/<%=journal.id%>/edit">edit post</a>-->
<form method="post" action="/journal/<%= journal.id %>/delete">
    <input type="hidden" name="_method" value="delete">
    <button class="btn waves-effect waves-light" type="submit" name="action">DELETE
    <i class="material-icons right">send</i>
  </button>
 
</form>
</div>
</p>

<%end%>
<br>