<h1>write your thoughts!</h1>
<br>
<form method="POST" action='/journal/new'>
<label for="title">Title: </label> 
<input type ="text" name ="title" id="title"><br>
<br>
<label for="title">Content: </label> 
<textarea name="content" id="content" cols="100" rows="20"></textarea><br>
<br>
<button class="btn waves-effect waves-light" type="submit" name="action">CREATE
    <i class="material-icons right">send</i>
  </button>
 
</form> 