<h1>write your thoughts!</h1>
<br>
<form method="POST" action='/journal/new'>
<label for="title">Title: </label> 
<input type ="text" name ="title" id="title"><br>
<br>
<textarea name="content" id="content" cols="100" rows="20"></textarea><br>
<br>
<input type= 'submit' value= 'create'>
</form> 