
<h1>The Spirtual Thought.</h1>

<h1>Welcome,<%= @user.name %> </h1>

<h2>journals</h2>
<a href="/journal/index">View your journals.</a>
<br>
<a href="/journal/all">Check out other peoples journals.</a>
<br>
<h2>information</h2>
<p>Hello and Welcome , i want to tell you really quick on why journaling is so important.
have you ever had so much on your mind that you get anxiety or stressed, even depressed?
insert journaling...its away to empty the unnessary information that you are processing in your brain. 
by putting it on paper you are actually freeing up space. also by wrting it out you can start breaking it down, getting to the route of what it is thats actually bothering you.

some tips are:
<ol>
1. ask yourself ok whats going on <br>
2. when you get the answer to the first question you ask yourself "ok why"? <br>
3. then you write whatever answer that is then you keep going with "why" question till you hit a resolve <br>
4. dont hold back from any answers that arrise. <br>
5. your the only one that will see it. <br>
6. actually feel the emotions that are arising, then sit with them with out judging them. <br>
7. if you need to talk them out, talk to the person that has wronged you and start the conversation with " i feel...etc". <br>
</ol> 
</p>
<h2>Videos</h2>
 <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://cdn.mindful.org/meditate-12.png?q=80&fm=jpg&fit=crop&w=1400&h=875">
          
        </div>
        <div class="card-content">
          <p>mindfulness is very important because it gives your thiking mind a time out. check the link below to understand it more.</p>
        </div>
        <div class="card-action">
          <a href="https://www.youtube.com/watch?v=wPUWdhHDKS4"> link to mindfulnes practice </a>
        </div>
      </div>
    </div>
  </div>

<br>
 <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://img.freepik.com/free-vector/pretty-cartoon-yogi-woman-business-man-sitting-lotus-position-with-closed-eyes_113807-328.jpg?size=626&ext=jpg">
          
        </div>
        <div class="card-content">
          <p>mental health is very important because i belive you can change your life with just your thoughts. ive also left a link below if you want to check out more information.</p>
        </div>
        <div class="card-action">
          <a href="https://www.youtube.com/watch?v=W7bRGzFt2oE"> link to better mind</a>
        </div>
      </div>
    </div>
  </div>

<a href="/user/logout">logout</a>
          