
<h1>Welcome,<%= @user.name %></h1>

<h2>journals</h2>
<a href="/journal/index">view your journals</a>
<br>
<a href="/journal/all">see other peoples journals</a>
<br>
<h2>information</h2>
 <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://cdn.mindful.org/meditate-12.png?q=80&fm=jpg&fit=crop&w=1400&h=875">
          
        </div>
        <div class="card-content">
          <p>mindfulness is very importanrt.</p>
        </div>
        <div class="card-action">
          <a href="https://www.youtube.com/watch?v=wPUWdhHDKS4"> link to mindfulnes practice </a>
        </div>
      </div>
    </div>
  </div>

<br>
 <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://img.freepik.com/free-vector/pretty-cartoon-yogi-woman-business-man-sitting-lotus-position-with-closed-eyes_113807-328.jpg?size=626&ext=jpg">
          
        </div>
        <div class="card-content">
          <p>mental health is very important.</p>
        </div>
        <div class="card-action">
          <a href="https://www.youtube.com/watch?v=W7bRGzFt2oE"> link to better mind</a>
        </div>
      </div>
    </div>
  </div>

<a href="/user/logout">logout</a>
          