<h1>Welcome to the spirtual thought!!! </h1>
<p>come write your feelings, take the time to relax and empty your mind</p>

<h2>Login</h2>
<a href = "/user/login">Login</a>

<h2>Sign up</h2>
<a href = "/user/signup">Sign up!</a>