<form method="POST" action='/user/login'>
<h1>login</h1>
<label for="email">Email: </label> 
<input type ="text" name ="email" id="email" required>
<label for='password'>Password: </label>
<input type ="password" name ="password" id="password" required>
<button class="btn waves-effect waves-light" type="submit" name="action">LOGIN
    <i class="material-icons right">send</i>
  </button>
 
</form> 
