<form method="POST" action='/user/signup'>
<label for='name'>Name: </label>
<input type ="text" name ="name" id="name">
<label for="email">Email: </label> 
<input type ="text" name ="email" id="email">
<label for='password'>Password: </label>
<input type ="password" name ="password" id="password">
<button class="btn waves-effect waves-light" type="submit" name="action">SIGNUP
    <i class="material-icons right">send</i>
  </button>
 
<!--<input type= 'submit'>-->
</form> 

